@model ProductReviewViewModel

<div>
    <h3>@Model.Title</h3>

    <!-- Stars -->
    <h5>
        @for (int i = 0; i < 5; i++)
        {
            if (i < Model.Rating)
            {
                <span><i style="color: #f4dc42" class="fa fa-star " aria-hidden="true"></i></span>
            }
            else
            {
                <span><i class="fa fa-star" aria-hidden="true"></i></span>
            }
        }
    </h5>

    <p>@Model.Description</p>
    <small class="text-muted">Posted by @Model.AuthorUserName  on  @Model.PostDate</small>
    @if (Model.AuthorUserName == Context.User.Identity.Name)
    {
        <small><a asp-action="DeleteReview" asp-controller="ProductReview" asp-route-reviewId="@Model.Id">Delete</a></small>
    }
</div>
<hr>
    